*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(to right, #0af, #00ff6c);
}

.calculator-grid {
  display: grid;
  align-content: center;
  justify-content: center;

  min-height: 100vh;

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  font-size: 2rem;

  cursor: pointer;

  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;

  padding: 10px;

  word-wrap: break-word;
  word-break: break-all;

  background-color: rgba(0, 0, 0, .75);

  grid-column: 1 / -1;
}

.output .previous-operand {
  font-size: 1.5rem;

  color: rgba(255, 255, 255, .75);
}

.output .current-operand {
  font-size: 2.5rem;

  color: white;
}
